<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:tools="http://schemas.android.com/tools"
    xmlns:android="http://schemas.android.com/apk/res/android"
    tools:ignore="ExtraText">

    <uses-permission android:name="com.android.vending.BILLING" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE"/>
    <uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.hardware.usb.host" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />

    <uses-permission
        android:name="android.permission.BLUETOOTH_CONNECT"
        tools:ignore="CoarseFineLocation" />
    <uses-permission android:name="android.permission.BLUETOOTH_SCAN" />
    <uses-permission android:name="android.permission.USB_PERMISSION" />
    <uses-permission android:name="android.permission.MEDIA_PROJECTION" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.MANAGE_USB"
        tools:ignore="ProtectedPermissions" />
    <uses-permission android:name="android.permission.BLUETOOTH"/>
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN"/>
    <uses-feature android:name="android.hardware.usb.accessory" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW"/>


    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        tools:ignore="CoarseFineLocation" />
    <!-- or -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.GET_TASKS"/>
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.MEDIA_BUTTON" />
    <uses-permission android:name="android.permission.READ_LOGS"
        tools:ignore="ProtectedPermissions" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.MANAGE_EXTERNAL_STORAGE"
        tools:ignore="ScopedStorage" />
    <uses-permission android:name="android.permission.ACCESS_MEDIA_LOCATION"/>
    <uses-permission android:name="android.permission.READ_MEDIA_AUDIO"/>
    <uses-permission android:name="android.permission.ACCESS_DOWNLOAD_MANAGER" />
    <uses-permission android:name="android.permission.KILL_BACKGROUND_PROCESSES" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />

    <application
        android:name="com.vasilkoff.easyvpnfree.App"
    android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:hardwareAccelerated="true"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
<!--        <activity android:name=".activity.LauncherActivity"-->
<!--            android:exported="true">-->
<!--            <intent-filter>-->
<!--                <action android:name="android.intent.action.MAIN" />-->

<!--                <category android:name="android.intent.category.LAUNCHER" />-->
<!--            </intent-filter>-->
<!--        </activity>-->
<!--        <activity-->
<!--            android:name=".activity.LoaderActivity"-->
<!--            android:noHistory="true"-->
<!--            tools:ignore="Instantiatable" />-->
<!--        <activity android:name="com.vasilkoff.easyvpnfree.activity.HomeActivity"-->
<!--            tools:ignore="Instantiatable">-->
<!--        </activity>-->
<!--        <activity android:screenOrientation="landscape" android:name=".SpeechToTextActivityForVPN"-->
<!--            android:exported="true"-->
<!--            tools:ignore="DiscouragedApi">-->
<!--            <intent-filter>-->
<!--                <action android:name="android.intent.action.MAIN" />-->

<!--                <category android:name="android.intent.category.LAUNCHER" />-->
<!--            </intent-filter>-->
<!--        </activity>-->
        <activity android:screenOrientation="landscape" android:name=".SpeechToTextActivityForVPN"
            android:exported="true"
            tools:ignore="DiscouragedApi">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
<!--        <activity android:screenOrientation="landscape" android:name=".SpeechToTextActivityForVPN"-->
<!--            android:exported="true">-->

<!--        </activity>-->
<!--        </activity>-->
<!--        <activity android:name=".activity.ServersListActivity"-->
<!--            tools:ignore="Instantiatable" />-->
<!--        <activity-->
<!--            android:name=".activity.ServerActivity"-->
<!--            android:launchMode="singleTop"-->
<!--            tools:ignore="Instantiatable" />-->
<!--        <activity android:name="com.vasilkoff.easyvpnfree.activity.AboutActivity"-->
<!--            tools:ignore="Instantiatable" />-->
<!--        <activity-->
<!--            android:name=".activity.ServersInfo"-->
<!--            android:theme="@style/AppTheme.PopUp" />-->
<!--        <activity-->
<!--            android:name=".activity.MyPreferencesActivity"-->
<!--            android:label="@string/action_settings"-->
<!--            android:noHistory="true" />-->


        <meta-data
            android:name="io.fabric.ApiKey"
            android:value="f3381de560e52052038ffb42a852d4b4df492896" />
        <service android:name=".FloatingWindowService" android:enabled="true" android:exported="true" android:foregroundServiceType="mediaProjection"/>
        <service android:name=".PocketSphinxService" android:enabled="true" android:exported="true" android:foregroundServiceType="mediaProjection"/>

        <service
            android:name=".BootService"
            android:enabled="true"
            android:exported="true" />
        <receiver android:name=".BootReceiver"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>

        <!--
      Optionally, register AnalyticsReceiver and AnalyticsService to support background
      dispatching on non-Google Play devices
        -->
<!--        <receiver-->
<!--            android:name="com.google.android.gms.analytics.AnalyticsReceiver"-->
<!--            android:enabled="true">-->
<!--            <intent-filter>-->
<!--                <action android:name="com.google.android.gms.analytics.ANALYTICS_DISPATCH" />-->
<!--            </intent-filter>-->
<!--        </receiver>-->

<!--        <service-->
<!--            android:name="com.google.android.gms.analytics.AnalyticsService"-->
<!--            android:enabled="true"-->
<!--            android:exported="false"-->
<!--            tools:ignore="MissingClass" />-->

        <!--
             Optionally, register CampaignTrackingReceiver and CampaignTrackingService to enable
             installation campaign reporting
        -->
<!--        <receiver-->
<!--            android:name="com.google.android.gms.analytics.CampaignTrackingReceiver"-->
<!--            android:exported="true">-->
<!--            <intent-filter>-->
<!--                <action android:name="com.android.vending.INSTALL_REFERRER" />-->
<!--            </intent-filter>-->
<!--        </receiver>-->

<!--        <service android:name="com.google.android.gms.analytics.CampaignTrackingService" />-->

<!--        <activity android:name="com.vasilkoff.easyvpnfree.activity.BookmarkServerListActivity"-->
<!--            tools:ignore="Instantiatable"></activity>-->
<!--        <provider-->
<!--            android:name="androidx.startup.InitializationProvider"-->
<!--            android:authorities="${applicationId}.androidx-startup"-->
<!--            tools:node="remove" />-->
    </application>

</manifest>